[Unit]
Description=xrootd exporter instance "%i"

[Install]
WantedBy=multi-user.target

[Service]
Environment=LD_LIBRARY_PATH=/usr/local/lib64
Environment=MPX_PATH=/usr/local/bin/mpxstats
Environment=EXPORTER_DESCRIPTION_FILE=/etc/xrootd/descriptions.cfg
User=xrootd
Type=simple
ExecStart=python3 /usr/bin/xrootd_exporter.py
StandardOutput=/var/log/xrootd/xrootd_exporter_%i.log
StandardError=/var/log/xrootd/xrootd_exporter_%i.log
TimeoutSec=10
WorkingDirectory=/var/run/xrootd
LimitNOFILE=65536
